rpcport=18231
rpcallowip=127.0.0.1
server=1
# Docker doesn't run as daemon
daemon=0
listen=1
txindex=1
logtimestamps=1
### testnet config
testnet=0
rpcuser=user
rpcpassword={{ rpcpassword.stdout }}
tlscertpath=/mnt/zen/certs/{{ fqdn }}/{{ fqdn }}.cer
tlskeypath=/mnt/zen/certs/{{ fqdn }}/{{ fqdn }}.key
#
port=9033
externalip={{ ip }}

# Add our nodes
{% for host in groups['zen-nodes'] %}
addnode={{ host }}
{%endfor%}
